body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Arial;
    font-size: 14px;
    line-height: 20px;
    color: #444;
    box-sizing: border-box;
    position: relative;
}

a {
    text-decoration: none !important;
    color: #444 !important;
}

ul {
    list-style: none;
}

.promotion-head {
    background-color: #08191F;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
}

header {
    position: sticky;
    top: 0px;
    background-color: #fff;
    z-index: 999;
}

.affix {
    border-bottom: 1px solid #d6d6d6;
    top: -1px;
}

.logo {
    max-width: 57px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.main-navbar .level0-item > a {
    font-weight: 500;
}

.sub-navbar {
    display: none;
}

.func-item {
    padding-left: 30px;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
}

.collapse-cart {
    position: absolute;
    top: 60px;
    right: 0;
    border: 1px solid #d6d6d6;
    border-radius: 3.5px;
    z-index: 99;
    background-color: #fff;
    width: 550px;
}

.cart-items {
    max-height: 300px;
    overflow-y: auto;
}

.cart-items .item {
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.cart-items img {
    width: 100%;
    height: 100%;
}

.total-money {
    float: right;
}

.main-navbar .form-search {
    position: relative;
}

.main-navbar .input-search {
    color: #ffffff;
    font-size: 14px;
    background-color: #444444;
    padding: 8px 60px 8px 20px;
    cursor: pointer;
    border: 0;
    outline: unset;
}

.main-navbar .btn-search {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff !important;
}

.hidden-menu {
    width: 100%;
    height: 100vh;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    z-index: 999;
    overflow-y: auto;
    box-sizing: border-box;
}

.btn-search-hidden {
    width: 30px;
    display: flex;
    align-items: center;
}

.input-search-hidden {
    outline: unset;
    border: 0;
    width: 100%;
    margin-left: 20px;
}

.input-search-hidden::placeholder {
    color: #999999 !important; 
}

.icon-box-hidden i {
    color: #ccc !important;
    font-size: 18px;
    cursor: pointer;
}

.level0-item {
    position: relative;
}

.level1-list {
    position: absolute;
    min-width: 160px;
    background: #ffffff;
    box-shadow: 1px 1px 3px #cccccc;
    left: 10px;
    cursor: pointer;
    display: none;
    padding-top: 45px;
}

.level0-item:hover,
.level0-item:hover .level1-list {
    display: block;
}

.level1-item {
    padding: 15px;
    position: relative;
}

.level1-item:hover {
    background-color: #eee;
}

.level2-list {
    position: absolute;
    min-width: 160px;
    background: #ffffff;
    box-shadow: 1px 1px 3px #cccccc;
    top: 0;
    left: 161px;
    cursor: pointer;
    display: none;
}

.level1-item:hover,
.level1-item:hover .level2-list {
    display: block;
}

.level2-item {
    padding: 15px;
}

.level2-item:hover {
    background-color: #eee;
}

.border-bottom {
    padding-bottom: 10px;
    border-bottom: 1px solid #d6d6d6;
}

.border-top {
    border-top: 1px solid #d6d6d6;
    margin-top: 10px;
}

.nav-hidden-item {
    padding: 10px 0px;
    position: relative;
    cursor: pointer;
}

.nav-hidden-item .level0-hidden-item {
    color: #999999 !important;
}

.nav-hidden-item .level1-hidden-item {
    font-weight: 500;
}

.nav-hidden-angle-down {
    position: absolute;
    right: 0;
    cursor: pointer;
    width: 30px;
}

.navbar-hidden > .nav-hidden-item:hover,
.navbar-hidden > .nav-hidden-item:hover .level1-hidden-item {
    background-color: #ebebeb;
    color: #3c96a7 !important;
}

.container-extra {
    padding: 0 30px;
}

.title-block {
    display: flex;
    justify-content: center;
    padding: 25px 0px;
    font-size: 20px;
    border-bottom: 1px solid #d6d6d6;
    font-weight: 500;
}

.go-to-cart {
    margin-top: 25px;
    height: 40px;
    background-color: #000;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.go-to-cart a{
    color: #fff !important;
    width: 100%;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}

.close-icon {
    cursor: pointer;
}

.list-products {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.list-products .list-item {
    margin-bottom: 55px;
    padding: 0 10px;
}

.list-products .list-item .p-image {
    display: block;
    background-color: #e0e0e0;
    position: relative;
    overflow: hidden;
}

.list-products .list-item .img-sec {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.list-products .list-item .p-name {
    font-size: 12px;
    font-family: Montserrat-SemiBold;
    text-transform: uppercase;
    margin: 25px 0px 5px;
}

.list-products .list-item .p-price {
    font-size: 12px;
    margin-bottom: 1px;
}

.list-products .list-item .p-price {
    font-size: 12px;
    margin-bottom: 1px;
}

.list-products .list-item .p-box-color .p-color {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 1px;
    margin-top: 5px;
}

.list-products .list-item:hover,
.list-products .list-item:hover .img-sec{
    display: block;
}

.page-link-selected {
    background-color: #e9ecef;
    border-color: #e9ecef;
}

.menu-footer {
    padding: 0;
    margin: 0;
} 

.menu-footer a {
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
}

.menu-footer a:hover {
    text-decoration: underline !important;
    color: #999 !important;
}

.bs-input {
    background: #fff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 16px;
    height: 40px;
    width: 100%;
    padding: 5px 20px;
    transition: all .2s;
    outline: unset;
}

.bs-input:active, .bs-input:focus  {
    border: 1px solid #2f5acf !important;
}

.bs-button {
    border-radius: 16px;
    height: 55px;
    width: 100%;
    padding: 15px 20px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: all .2s;
}

.bs-button:hover {
    background-color: #d9d9d9;
    color: #000;
}

footer {
    padding-bottom: 50px;
}

/* Responsive */

@media (max-width: 992px) {
    .main-navbar {
        display: none;
    }
    .sub-navbar {
        display: block;
    }
    .sub-navbar .func-item {
        padding: 0;
        font-size: 20px;
    }
    .regis-ministry-img {
        display: none;
    }
}

@media (max-width: 768px) {
    .regis-ministry-menu {
        display: none;
    }
}


