.images {
    display: flex;
    flex-wrap: wrap;
}

.item {
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
}

.delete-img-btn {
    position: absolute;
    top: 15px;
    right: 25px;
    cursor: pointer;
    color: red;
}